@charset "UTF-8";

body{
    background-color: white;
    font-family: sans-serif;
}

#principal{
    text-align: center;
    background-color: #38686A;
    color: white;
}

.basico{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.intermediario{
    color: #38686A;
}

h1{
    color:#38686A;
    background-color: #A3B4A2;
}

h2{
    color: #2589BD;
}

.destaque{
    background-color: rgba(255, 255, 0, 0.39);
}