body {
    background-image: linear-gradient(to bottom, rgb(133, 40, 156), rgb(58, 2, 71) );
    font: 13pt Arial;
    overflow-x: hidden;
    background-repeat: no-repeat;
    margin-top: auto;
    background-position: center  center;
    height: 100vh;
}

main {
    background-color: white;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
    margin-top: 5vh;
}

h1 {
    color: rgb(58, 2, 71);
    margin-top: 1vh;
}

h2 {
    color: rgb(95, 20, 112);
    margin-top: 30px;
}

aside {
    display: block; 
    color: white;
    font-size: 1em;
    text-align: justify;
    background-image: linear-gradient(to bottom, rgb(133, 40, 156), rgb(58, 2, 71) );
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0;
}

aside img {
    width: 60px; 
    display: block; 
    float: left;
    margin-right: 10px;
}

a{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
}

.links_externos {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#next:hover{
    text-decoration: underline;
}

section{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

input{
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: rgb(58, 2, 71);
    font-weight: bolder;
    font-size: 1em;
}