body {
    background-color: gainsboro;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle .post_title {
    color:black
}

.photo{
    border-radius: 50px;
    border: 2px solid black
}

.title{
    font-size: 48px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: black;
}

.post_title {
    font-size:16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: white;
    padding: 10px;
    border:3px solid purple;
    margin-bottom: 15px;
    border-radius: 5px 10px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px
}

.contact_list li a {
    text-decoration: none;
}